.containerD {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 90%;
  margin: 4vh auto;
  justify-content: center;
}
.main__details__container{
  margin-top: 30px;
}
.container__details {
  width: 35%;
}
.painting {
  padding: 5%;
  width: 100%;
}

.price {
  padding: 10%;
}
.paintingView {
  width: 10rem;
  font-weight: bold;
}
.artistName {
  font-weight: bold;
}
.viewBtn {
  margin-top: 5%;
}
.container__image {
  width: 65%;
}
.addBtn {
  margin: 7% 0;
  width: 100%;
  height: 2.5rem;
  background-color: #955f83;
  color: white;
  font-size: larger;
  font-weight: bold;
}
.imgPreview {
  width: 60%;
  margin: 5% 20%;
}
strong {
  color: #955f83;
  padding: 10px;
}
@media (max-width:800px){
  .containerD {
    flex-direction: column;
    justify-content: center;
  }
  .container__details {
    width: 80%;
    margin:20px auto;
  }
  .container__image {
    width: 80%;
    margin: auto;
  }

}
