.container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 2vh 2vw;
}
.container__details{
  width: 50%;
}
.painting{
  width: 60%;
  padding: 5%;
  margin: 5% auto;
}

.price{
  padding: 10%;
}
.paintingView{
  width: 10rem;
}
.artistName{
  font-size: large;
}
.container__image{
  width: 50%;
}
.addBtn{
  margin: 7% 10%;
  width: 80%;
}
.imgPreview{
  width: 60%;
  margin: 5% 20%;
}