.addProduct-form{
    width: 50%;
    margin:80px auto;
}
.addProduct-form .title-add{
    color:#955F83;
}
.addProduct-form .cat-div{
    margin-bottom: 10px;
}
.addProduct-form .ant-btn-primary{
    color: aliceblue;
}