.main-navbar-container {
  width: 100%;
  box-shadow: 0px 1px 10px #955f83c2;
}
.navbar-container {
  margin: auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.nav-right {
  align-items: flex-end;
  text-align: center;
}
.nav-right span{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-logo {
  width: 70px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logout-btn {
  background: none;
  color: #955f83;
  border: none;
}
.nav-logout-btn:hover {
  background: none;
  color: #955f83;
  border: none;
}
.sign-up-link {
  color: #955f83;
  width: 100px;
}

.login-link {
  color: #955f83;
  width: 100px;
}

.cart-icon {
  margin-left: 25px;
  margin-right: 10px;
  color: #955f83;
  font-size: 25px;
}
