.cart__container {
  width: 90%;
  margin: auto;
}

.budget__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.budget__heading {
  color: #2d616c;
}

.ant-table-thead .ant-table-cell {
  background-color: #a1819514;
  text-align: center !important;
}
 .ant-table-row-level-0 :first-child{
  display: flex;
  justify-content: center;
}