.admin-artist-container{
    width: 80%;
    margin:50px auto;
}
#artists-table {
    border-collapse: collapse;
    width: 100%;
  }
  
#artists-table td, #artists-table th {
    border: 1px solid #a1819514;
    padding: 8px;
}
  
#artists-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #a1819514
    ;
    color: #955F83;
}

 .download-table-xls-button{
     background-color: #a1819514;
      border: 1px solid #955F83 !important;
      padding: 10px;
      color: #955F83;
      margin: 20px 0px;
      cursor: pointer;
}

.download-table-xls-button:hover{
  opacity: .8;
}

.admin-budget{
  color: #2D616C

  ;
}
.budget-mark{
  background-color:#a1819514;
  padding: 2px;
}