.not-found-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container img {
  width: 500px;
  height: 300px;
  margin-top: 100px;
}

.not-found-container h1 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.not-found-container p {
  color: darkgrey;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.not-found-container .ant-btn {
  color: white;
  background-color: #955f83;
  margin-left: 30px;
}
