.admin-form-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/login.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.admin-form-container .admin-container {
  width: 30%;
  margin: auto;
  padding-top: 100px;
}
.admin-container .form-title {
  color: #2d616c;
}
